Scrapy~=2.13.3
beautifulsoup4~=4.14.2
pyarrow~=22.0.0
pandas~=2.3.3
bs4~=0.0.2
ollama
pypdf
requests
sentence-transformers~=5.2.3
transformers
torch
langchain
langchain-huggingface
tqdm
sqlalchemy
matplotlib
# psycopg2 comment in when using local postgres, not needed for server
python-dotenv
openpyxl
pathvalidate